

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
 :root {
     --pbmit-global-color: #ff5001;
     --pbmit-secondary-color: #000000;
     --pbmit-light-color: #f6f6f6;
     --pbmit-white-color: #ffffff;
     --pbmit-blackish-color: #000000;
     --pbmit-link-color-normal: #000000;
     --pbmit-link-color-hover: #ff5001;
     --pbmit-global-color-rgb: 255, 80, 1;
     --pbmit-secondary-color-rgb: 0, 0, 0;
     --pbmit-responsive-breakpoint: 1200px;
     --pbmit-body-typography-font-family: 'DM Sans', sans-serif;
     --pbmit-body-typography-variant: regular;
     --pbmit-body-typography-font-size: 16px;
     --pbmit-body-typography-line-height: 1.6;
     --pbmit-body-typography-color: #666666;
     --pbmit-heading-typography-font-family: 'Schibsted Grotesk', sans-serif;
     --pbmit-heading-color: #27272f;
     --pbmit-heading-font-variant:normal;
     --pbmit-btn-typography-font-family: 'Schibsted Grotesk', sans-serif;
     --pbmit-btn-typography-variant: 600;
     --pbmit-btn-typography-font-size: 16px;
     --pbmit-btn-typography-line-height: 26px;
}

/*----------------------------------------*/
/* 01 - Typography 
/*----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family:var(--pbmit-heading-typography-font-family);
    font-weight: normal;
    color: var(--pbmit-heading-color);
}

.pbmit-btn{
    font-family: var(--pbmit-heading-typography-font-family);
    font-weight: var(--pbmit-btn-typography-variant);
    font-size: var(--pbmit-btn-typography-font-size);
    line-height: var(--pbmit-btn-typography-line-height);
    letter-spacing: 0px;
    text-transform: capitalize;
    font-style: normal;
    padding: 14px 35px;
    border-radius: 50px;
}